
html body {
    padding: 0px;
    border: 0px;
    width: 100%;
    height:100%;
    margin: 0 auto;
    font-family: Helvetica;
    font-size: 13px;
    line-height: 18px;

}

hr {
    margin: 10px 0;
}

.h1 {
    font-size: 24px;
    color: #1A9DBA;
    font-weight: bold;
    margin-left: 35px;
    text-transform: uppercase;
}

.h2 {
    font-size: 14px;
    color: #484949;
    font-weight: bold;
    text-transform: uppercase;
}

.header {
    background: #383838;
    height: 40px;
}

.container {
    display: flex;
    overflow: hidden;
}


.container .siderbar {
    flex:1;
    background: #F7F7F7;
    -webkit-box-shadow: 10px 0px 10px 0px rgba(181,174,181,0.32);
    -moz-box-shadow: 10px 0px 10px 0px rgba(181,174,181,0.32);
    box-shadow: 10px 0px 10px 0px rgba(181,174,181,0.32);}

.container .siderbar .movie{
    width: 50%;
    float:left;
    text-align: center;
    margin: 20px 0;
}
.container .siderbar .movie img {
    display: block;
    width: 122px;
    height: 122px;
    border: 10px;
    border-radius: 50%;
    margin: 10px auto;

}

.container .siderbar .movie img:hover{
    box-shadow: 0 0 0 9px #1A9DBA;
    cursor: pointer;
}


.container .content {
    flex:2;
    float: left;
    padding: 0 0;
}

.container .content .upper {
    height: 300px;
}


.container .content .upper .image {
    float:left;
    padding: 0 0 0 40px;
    width: 25%;
    height: 100%;
}
.container .content .upper .image img{
    margin: 10px 0;
    width: 170px;
    height: 230px;
}

.container .content .upper .description {
    float:left;
    margin: 10px 0;
    width: 65%;
    height: 100%;
}


.container .content .bottom {
    clear: left;
    margin-top: 40px;
}


.container .content .bottom .cast {
    float:left;
    width: 40%;
    padding-left:60px;
}

.container .content .bottom .cast .image {
    width: 66px;
    height: 66px;
    border-radius: 50%;
}

.container .content .bottom .cast .image:hover {
    box-shadow: 0 0 0 5px #1A9DBA;
    cursor: pointer;
}


.container .content .bottom .profile {
    float:left;
    width:40%;
}

.container .content .bottom  .profile img {
    width: 347px;
    height: 420px;

}

