<div class="bottom">
    <h1 class = "h1">MOVIE CREDITS</h1>
    <hr>
        <div class="cast">
            <div ng-repeat="item in currentMovieCredit.cast | limitTo: 6 | orderBy: item.order track by item.id">
                <div style="clear:left; float:left; margin-bottom:10px;"><img src="{{item.profile_path}}" class="image" ng-click="setCastProfile(item)"></div>
                <div style="float:left; margin: 10px 0 0 15px;">
                    <div class="h2">{{item.name}}</div>
                    <div>{{item.character}}</div>
                </div>
            </div>
        </div>
        <div class="profile">
            <img src="{{currentMovieCreditProfile.profile_path}}">
        </div>

</div>